{
  "swagger": "2.0",
  "info": {
    "description": "Our Smart Contracts are computer programs that automatically execute, control or monitor legally relevant transactions and actions defined by a contract or a business agreement.",
    "version": "1.0.0",
    "title": "Seif for  developers",
    "termsOfService": "https://seif.io/",
    "contact": { "email": "juang@seif.com" },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "url": "https://seif.io/wp-content/uploads/2018/05/logo-seif-dark-1.png",
      "backgroundColor": "#FFFFFF",
      "altText": "Seif logo"
    }
  },

  "host": "seif.io",
  "basePath": "/v2",
  "tags": [
    { "name": "Enrrollment", "description": "Access to Petstore orders" },
    {
      "name": "Ifrit",
      "description": "Operations about user",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },

    {
      "name": "Blockchain",
      "description": "Estamos construyendo un ecosistema blockchain con nuestros clientes y sus clientes, y sus proveedores, para poder ofrecerle una blockchain verdaderamente descentralizada.",
      "externalDocs": {
        "description": "Si deseas saber haz click aqui",
        "url": "https://seif.io/#ecosystem"
      }
    },
    {
      "name": "Fenrir",
      "description": "Everything about your Pets",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://seif.io"
      }
    }
  ],

  "schemes": ["https"],

  "paths": {
    "/api/search/:id": {
      "get": {
        "summary": "Busqueda de contrato, usuario o transacción",
        "tags": ["Ifrit"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "id",
            "required": true,
            "type": "string",
            "in": "path",
            "description": "Introduce el número de tu contrato, usuario o transacción"
          }
        ],
        "responses": {
          "200": {
            "description": "Repuesta de busqueda correcta",
            "headers": {}
          },
          "400": {
            "description": "Respuesta de busqueda incorrecta",
            "headers": {}
          }
        }
      }
    },
    "/channels/mychannel/chaincodes/identity": {
      "get": {
        "summary": "Consulta Identidad",
        "tags": ["Blockchain"],
        "operationId": "ConsultaIdentidad",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "args",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "fcn",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      },
      "post": {
        "summary": "Registra Identidad",
        "tags": ["Blockchain"],
        "operationId": "RegistraIdentidad",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RegistraIdentidadRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/channels/mychannel/chaincodes/identidad": {
      "get": {
        "summary": "Consulta por Asset",
        "tags": ["Blockchain"],
        "operationId": "ConsultaporAsset",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "args",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "fcn",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/channels/mychannel/chaincodes/participant": {
      "post": {
        "summary": "Registra Participante",
        "tags": ["Blockchain"],
        "operationId": "RegistraParticipante",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RegistraParticipanteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      },
      "get": {
        "summary": "Consulta Participante",
        "tags": ["Blockchain"],
        "operationId": "ConsultaParticipante",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "args",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "fcn",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/channels/mychannel/chaincodes/agreement": {
      "post": {
        "summary": "Registra Contrato",
        "tags": ["Blockchain"],
        "operationId": "RegistraContrato",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RegistraContratoRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      },
      "get": {
        "summary": "Consulta Contrato",
        "tags": ["Blockchain"],
        "operationId": "ConsultaContrato",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "args",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "fcn",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/channels/mychannel/chaincodes/transaction": {
      "post": {
        "summary": "Registra Transaccion",
        "tags": ["Blockchain"],
        "operationId": "RegistraTransaccion",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RegistraTransaccionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      },
      "get": {
        "summary": "Consulta Transaccion",
        "tags": ["Blockchain"],
        "operationId": "ConsultaTransaccion",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "args",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "fcn",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/channels/mychannel/chaincodes/businessrule": {
      "post": {
        "summary": "Registra Business Rule",
        "tags": ["Blockchain"],
        "operationId": "RegistraBusinessRule",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RegistraBusinessRuleRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      },
      "get": {
        "summary": "Consulta Business Rule",
        "tags": ["Blockchain"],
        "operationId": "ConsultaBusinessRule",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "args",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "fcn",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/": {
      "get": {
        "summary": "Status API",
        "tags": ["Blockchain"],
        "operationId": "StatusAPI",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/users": {
      "post": {
        "summary": "Registrar Usuario",
        "tags": ["Blockchain"],
        "operationId": "RegistrarUsuario",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RegistrarUsuarioRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/users/login": {
      "post": {
        "summary": "Login Usuario",
        "tags": ["Blockchain"],
        "operationId": "LoginUsuario",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginUsuarioRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    }
  },
  "definitions": {
    "RegistraIdentidadRequest": {
      "title": "RegistraIdentidadRequest",
      "example": {
        "fcn": "createIdentity",
        "peers": [
          "peer0.org1.midominio.com",
          "peer0.org2.midominio.com",
          "peer0.org3.midominio.com"
        ],
        "chaincodeName": "identity",
        "channelName": "mychannel",
        "args": [
          "CODE01",
          "AUDI111",
          "xxx",
          "xxx",
          "xx",
          "xx",
          "xx",
          "xx",
          "xx",
          "xx",
          "xx",
          "xx",
          "xx",
          "xx",
          "xx",
          "xx",
          "xx",
          "xx",
          "xx",
          "null",
          "null",
          "null"
        ]
      },
      "type": "object",
      "properties": {
        "fcn": {
          "type": "string"
        },
        "peers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "chaincodeName": {
          "type": "string"
        },
        "channelName": {
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "required": ["fcn", "peers", "chaincodeName", "channelName", "args"]
    },
    "RegistraParticipanteRequest": {
      "title": "RegistraParticipanteRequest",
      "example": {
        "fcn": "createParticipant",
        "peers": [
          "peer0.org1.midominio.com",
          "peer0.org2.midominio.com",
          "peer0.org3.midominio.com"
        ],
        "chaincodeName": "participant",
        "channelName": "mychannel",
        "args": ["88889", "AUDI111", "xxx", "xxx", "xx", "xx", "xx", "xx"]
      },
      "type": "object",
      "properties": {
        "fcn": {
          "type": "string"
        },
        "peers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "chaincodeName": {
          "type": "string"
        },
        "channelName": {
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "required": ["fcn", "peers", "chaincodeName", "channelName", "args"]
    },
    "RegistraContratoRequest": {
      "title": "RegistraContratoRequest",
      "example": {
        "fcn": "createAgreement",
        "peers": [
          "peer0.org1.midominio.com",
          "peer0.org2.midominio.com",
          "peer0.org3.midominio.com"
        ],
        "chaincodeName": "agreement",
        "channelName": "mychannel",
        "args": [
          "dummy_test89999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999",
          "88889",
          "dummy_test3_xname3333",
          "dummy_test3_xname4444",
          "dummy_test3_xname5555",
          "dummy_test3_xname666",
          "dummy_test3_xname777",
          "dummy_test3_xname88888",
          "dato1|dato2|dato3|dato4",
          "aaaa",
          "qqqqq"
        ]
      },
      "type": "object",
      "properties": {
        "fcn": {
          "type": "string"
        },
        "peers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "chaincodeName": {
          "type": "string"
        },
        "channelName": {
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "required": ["fcn", "peers", "chaincodeName", "channelName", "args"]
    },
    "RegistraTransaccionRequest": {
      "title": "RegistraTransaccionRequest",
      "example": {
        "fcn": "createTransaction",
        "peers": [
          "peer0.org1.midominio.com",
          "peer0.org2.midominio.com",
          "peer0.org3.midominio.com"
        ],
        "chaincodeName": "transaction",
        "channelName": "mychannel",
        "args": ["8888", "AUDI111", "xxx", "xxx", "xx", "xx", "xx", "xx"]
      },
      "type": "object",
      "properties": {
        "fcn": {
          "type": "string"
        },
        "peers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "chaincodeName": {
          "type": "string"
        },
        "channelName": {
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "required": ["fcn", "peers", "chaincodeName", "channelName", "args"]
    },
    "RegistraBusinessRuleRequest": {
      "title": "RegistraBusinessRuleRequest",
      "example": {
        "fcn": "createBusinessrule",
        "peers": [
          "peer0.org1.midominio.com",
          "peer0.org2.midominio.com",
          "peer0.org3.midominio.com"
        ],
        "chaincodeName": "businessrule",
        "channelName": "mychannel",
        "args": [
          "CCCCCC",
          "AUDI111",
          "xxx",
          "xxx",
          "xx",
          "xx",
          "xx",
          "xx",
          "x111111x",
          "xx1111"
        ]
      },
      "type": "object",
      "properties": {
        "fcn": {
          "type": "string"
        },
        "peers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "chaincodeName": {
          "type": "string"
        },
        "channelName": {
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "required": ["fcn", "peers", "chaincodeName", "channelName", "args"]
    },
    "RegistrarUsuarioRequest": {
      "title": "RegistrarUsuarioRequest",
      "example": {
        "username": "jorge2",
        "orgName": "Org1"
      },
      "type": "object",
      "properties": {
        "username": {
          "type": "string"
        },
        "orgName": {
          "type": "string"
        }
      },
      "required": ["username", "orgName"]
    },
    "LoginUsuarioRequest": {
      "title": "LoginUsuarioRequest",
      "example": {
        "username": "jorge1",
        "orgName": "Org1"
      },
      "type": "object",
      "properties": {
        "username": {
          "type": "string"
        },
        "orgName": {
          "type": "string"
        }
      },
      "required": ["username", "orgName"]
    }
  }
}
