h1 {
  font-weight: bold !important;
  font-size: 72px !important;
  background: -webkit-linear-gradient(#00c6ff, #0072ff ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

h2 {
  font-weight: bold !important;
  font-size: 42px !important;
  background: -webkit-linear-gradient( #0cebeb, #20e3b2, #29ffc6) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}


.sc-csTbgd {
  margin: 20px;
  text-align: center;
  width: auto !important;
  height: 50px !important;
}
